doctype html
html(lang = "ru-Ru")
	head
		include _common/head.jade
	body
		.wrapper
			.content
				header.header
					include _common/_header.jade
				
			footer.footer
				include _common/_footer.jade
				

	script( src = '../js/libs.min.js' )
			
